<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
            android:name=".NoServerApplication">
        <activity
                android:name=".NoServerActivity"
                android:label="NoServer"
                android:exported="true"
                android:theme="@style/Theme.Transparent"
        />
    </application>
</manifest>